.player {
  display: flex;
  flex-direction: row;
  padding: .5rem;
}

.player:hover{
  background-color:#000;
  color: white;
  opacity:0.8;
  cursor: pointer;
}

.title {
  font-weight: bolder;
}

.details {
  margin: .5rem;
}