.comments {
    margin-top: .5em;
}

.btn-sm {
    background-color: lightgray;
    opacity: .8;
    color: black;
    transition: all;
    width: 5em;
}

.btn-sm:hover {
    cursor: pointer;
    transform: scale(1.2);
}